.Educations {
  padding: 1rem 0;
  + .Educations {
    border-top: 1px solid var(--bordercolor);
  }
  .SubTitle {
    font-size: 1.2rem;
    color: var(--gray);
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
  .Calendar {
    color: var(--green);
    .fa {
      margin-right: 1rem;
    }
  }
  .Paragraph {
    color: var(--textcolor);
    margin: 1rem 0 0 0;
  }
}
