.ProfilePhoto {
  position: relative;
  .imgWrapper {
    > img {
      visibility: hidden;
    }
  }
  &.Upload {
    border: 1px solid var(--textcolor);
    margin-bottom: 2rem;
  }
  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .Name {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    font-weight: normal;
    text-transform: capitalize;
  }
}
